# place in /etc/systemd/system/
# enable by 'sudo systemctl enable leds_server'
[Unit]
Description=LEDs Manager Service

[Service]
WorkingDirectory=/home/zion/quanthuman-entangler
Environment="HOME=/home/zion"
ExecStart=/bin/bash -c 'timestamp=$(date +"%%Y-%%m-%%d_%%H-%%M-%%S"); \
    cd $HOME/quanthuman-entangler; \
    source venv_pi/bin/activate; \
    sudo python src/qhuman_entangler/leds_manager.py > $HOME/quanthuman-entangler/logs/leds_server_service_$timestamp.log 2>&1'
Restart=always
User=zion

[Install]
WantedBy=multi-user.target