# place in /etc/systemd/system/
# when running as service it's making same errors as it is running with sudo privileges (pbm pygame buffers) - so we'll run it using chrontab job

[Unit]
Description=Quantum Tunnel Service

[Service]
ExecStart=/bin/bash -c 'cd /home/zion/quanthuman-entangler; source venv_pi/bin/activate; python src/qhuman_entangler/quantum_tunnel.py'
WorkingDirectory=/home/zion/quanthuman-entangler
StandardOutput=file:/home/zion/quantum_tunnel.log
StandardError=file:/home/zion/quantum_tunnel.log
Restart=always
User=zion

[Install]
WantedBy=multi-user.target