# place in /etc/systemd/system/
# when running as service it's making same errors as it is running with sudo privileges (pbm pygame buffers) - so we'll run it using chrontab job

[Unit]
Description=Quantum Tunnel Service


[Service]
Environment="HOME=/home/zion"
Environment="XDG_RUNTIME_DIR=/run/user/1000"
WorkingDirectory=/home/zion/quanthuman-entangler
ExecStart=/bin/bash -c 'timestamp=$(date +"%%Y-%%m-%%d_%%H-%%M-%%S"); \
    cd $HOME/quanthuman-entangler; \
    source venv_pi/bin/activate; \
    python src/qhuman_entangler/quantum_tunnel.py > $HOME/quanthuman-entangler/logs/quantum_tunnel_service_$timestamp.log 2>&1'
Restart=always
User=zion

[Install]
WantedBy=multi-user.target